body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
#container{
    height: auto;
    width: 500px;
    background-color:greenyellow;
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 520px;
    margin-right: 520px;
    display: flex;
    flex-direction: column;
    border: black solid 4px;
    
}

#clock {
    font-size: 24px;
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#alarms {
    text-align: left;
    margin: 0 auto;
    width: 300px;
    text-align: center;
}


